@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    margin: 0px;
    background-color: #000;
}

/*mobile css*/
@media screen and (max-width: 1200px) {
    .footerleft {
        float: left;
        width: 100%;
        display: flex;
        justify-content: left;
        padding: 5px;
        background-color: #0c0c0c;
        color: lightgray;
        font-family: "Open Sans", sans serif;
        font-style: italic;
        font-weight: lighter;
        margin-left: 3%;
        font-size: 90%
    }

    .footerright {
        float: right;
        width: 100%;
        display: flex;
        justify-content: right;
        padding: 5px 10px;
        background-color: #0c0c0c;
        color: lightgray;
        font-family: "Open Sans", sans serif;
        font-style: italic;
        font-weight: lighter;
        margin-left: 15%;
        font-size: 90%
    }

    .parallaxcenter {
        font-size: 250%;
        font-family: "Poppins", sans serif;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        opacity: 20%;
    }

    pmembers {
        flex-wrap: wrap;
        padding: 0px 5%;
        font-family: "Open Sans", sans serif;
        color: white;
        float: right;
        display: flex;
    }

    p {
        font-family: "Open Sans", sans serif;
        color: white;
        padding: 10px 5%;
    }

    header {
        font-size: 100%;
        font-family: "Poppins", sans serif;
        padding: 0px 5%;
        font-weight: bold;
        color: white;
    }

    .header3 {
        display: block;
        font-family: "Poppins", sans serif;
        font-size: 180%;
        font-weight: bold;
        text-align: left;
        font-weight: bold;
        color: white;
    }

    p2 {
        display: block;
        font-family: "Open Sans", sans serif;
        text-align: center;
        padding: 0px 5%;
        font-size: 100%;
        color: white;
    }

    pcontact {
        font-family: "Open Sans", sans serif;
        color: white;
    }

    pcontact2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header2 {
        display: block;
        font-family: "Poppins", sans serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        font-weight: bold;
        padding: 0px 5%;
        color: white;
    }

    .imgnavbar {
        display: flex;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 2% 0;
    }

    .imgfooter {
        display: flex;
        width: 50%;
    }

    .navbarleft {
        display: flex;
        background-color: #111;
        width: 100%;
        height: 58px;
        justify-content: center;
        align-items: center;
    }

    .navbarright {
        display: flex;
        background-color: #111;
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .button:hover {
        text-decoration: none;
        color: #f25a02;
        font-family: "Open Sans", sans serif;
        font-weight: lighter;
        transition: 0.3s;
    }

    .button {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans serif;
        font-weight: lighter;
        padding: 0px 10px 0px 10px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .button2 {
        display: flex;
        font-family: "Open Sans", sans serif;
        font-weight: lighter;
        text-decoration: none;
        color: lightgray;
    }

    .imgcenter {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .members {
        margin-right: 10px;
        margin-left: 5%;
        width: 90%;
        float: left;
        border: solid;
        border-radius: 20px;
        border-color: white;
        display: flex;
    }

    .imginp {
        padding: 10px 10px;
        width: 80%;
        float: left;
        display: flex;
    }

    .contactbox {
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        background-color: #0c0c0c;
        border-color: #0c0c0c;
        padding: 20px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
        max-width: 80%;
        transition: 0.5s;
    }

    .contactcenter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: 0.5s;
    }

    .p {
        display: flex;
        font-family: "Open Sans", sans serif;
        font-size: 100%;
        color: white;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }

    .link {
        text-align: justify;
        font-family: "Open Sans", sans serif;
        font-size: 100%;
        color: white;
        text-decoration: underline;
        display: inline-flex;
    }

        .link:hover {
            text-align: justify;
            font-family: "Open Sans", sans serif;
            font-size: 100%;
            color: #f25a02;
            text-decoration: underline;
            display: inline-flex;
            transition: 0.3s;
        }

    .bloglink {
        text-align: justify;
        font-family: "Open Sans", sans serif;
        font-size: 120%;
        color: white;
        text-decoration: underline;
        display: inline-flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .bloglink:hover {
            text-align: justify;
            font-family: "Open Sans", sans serif;
            font-size: 120%;
            color: #f25a02;
            text-decoration: underline;
            display: inline-flex;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: 0.3s;
        }

    .hr {
        width: 100%;
        height: 1px;
        border-width: 0;
        color: gray;
        background-color: gray;
    }

    .hr2 {
        width: 90%;
        height: 1px;
        border-width: 0;
        color: gray;
        background-color: gray;
    }

    .youtube {
        width: 90%;
        height: 25%;
    }

    .imgcenterdiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imggallery {
        float: left;
        width: 90%;
        margin: 10px;
    }

    .pagenumberbutton {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans serif;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
    }

        .pagenumberbutton:hover {
            text-decoration: none;
            color: #f25a02;
            font-family: "Open Sans", sans serif;
            font-weight: bold;
            transition: 0.3s;
            border: 10px;
            background-color: gray;
            border-radius: 8px;
        }

    .pagenumberleft {
        display: flex;
        margin-left: 5%;
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans serif;
        font-weight: bold;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pagenumberright {
        margin-left: 0%;
        margin-right: 5%;
        text-align: right;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }


    ::selection {
        color: black;
        background: #f25a02;
    }

    .navbarleft {
        display: flex;
        background-color: rgba(17,17,17,0.7);
        width: 100%;
        height: 58px;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .navbarright {
        display: flex;
        background-color: rgba(17,17,17,0.7);
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .imgnavbar {
        display: flex;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 2% 0;
    }




    /*let goed op dit verdomde haakje!!!*/
}








/*---------------------------------------------------pc css------------------------------------------------*/
@media screen and (min-width: 1201px) {
    .footerleft {
        float: left;
        width: 100%;
        display: flex;
        justify-content: left;
        padding: 5px;
        background-color: #0c0c0c;
        color: lightgray;
        font-family: "Open Sans", sans serif;
        font-style: italic;
        font-weight: lighter;
        margin-left: 3%;
        font-size: 90%
    }

    .footerright {
        float: right;
        width: 100%;
        display: flex;
        justify-content: right;
        padding: 5px 10px;
        background-color: #0c0c0c;
        color: lightgray;
        font-family: "Open Sans", sans serif;
        font-style: italic;
        font-weight: lighter;
        margin-left: 15%;
        font-size: 90%
    }


    .parallaxcenter {
        font-size: 350%;
        font-family: "Poppins", sans serif;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        transition: 1s;
        opacity: 20%;
    }

    pmembers {
        font-family: "Open Sans", sans serif;
        color: white;
        display: flex;
        margin-right: 13%;
        flex-wrap: wrap;
    }

    pcontact {
        font-family: "Open Sans", sans serif;
        color: white;
    }

    pcontact2 {
        font-family: "Open Sans", sans serif;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12px;
    }

    p {
        display: block;
        font-family: "Open Sans", sans serif;
        font-size: 100%;
        color: white;
        margin-left: 13%;
        margin-right: 13%;
    }

    .header {
        display: block;
        font-family: "Poppins", sans serif;
        font-size: 200%;
        font-weight: bold;
        font-weight: bold;
        margin-left: 13%;
        color: white;
    }

    .header3 {
        display: block;
        font-family: "Poppins", sans serif;
        font-size: 200%;
        font-weight: bold;
        font-weight: bold;
        color: white;
    }

    p2 {
        display: block;
        font-family: "Open Sans", sans serif;
        text-align: center;
        margin-left: 13%;
        margin-right: 13%;
        font-size: 100%;
        color: white;
    }


    .header2 {
        display: block;
        font-family: "Poppins", sans serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .imgfooter {
        width: 100px;
        display: flex;
        justify-content: left;
        padding: 5px;
        color: white;
        padding: 0 0;
        font-family: "Open Sans", sans serif;
        font-style: italic;
        font-weight: lighter;
        margin-left: 1%;
    }

    .button:hover {
        text-decoration: none;
        color: #f25a02;
        font-family: "Open Sans", sans serif;
        font-weight: lighter;
        transition: 0.3s;
    }

    .button {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans serif;
        font-weight: lighter;
        transition: 0.3s
    }

    .button2 {
        display: flex;
        font-family: "Open Sans", sans serif;
        font-weight: lighter;
        text-decoration: none;
        color: lightgray;
        transition: 0.3s;
    }

        .button2:hover {
            display: flex;
            font-family: "Open Sans", sans serif;
            font-weight: lighter;
            text-decoration: none;
            color: white;
            transition: 0.3s;
        }

    .imgcenter {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: block;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .members {
        display: flex;
        margin-right: 10px;
        margin-left: 13%;
        width: 20%;
        float: left;
        border: solid;
        border-radius: 20px;
        border-color: white;
    }

    .imginp {
        display: block;
        padding: 10px 10px;
        width: 30%;
        height: auto;
        float: left;
    }

    .contactcenter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        transition: 0.5s;
    }


    .contactbox {
        float: left;
        margin-left: 20px;
        border-radius: 20px;
        background-color: #0c0c0c;
        border-color: #0c0c0c;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        transition: 0.5s;
    }

    .link {
        text-align: justify;
        font-family: "Open Sans", sans serif;
        font-size: 100%;
        color: white;
        text-decoration: underline;
        display: inline-flex;
        transition: 0.3s;
    }

        .link:hover {
            text-align: justify;
            font-family: "Open Sans", sans serif;
            font-size: 100%;
            color: #f25a02;
            text-decoration: underline;
            display: inline-flex;
            transition: 0.3s;
        }

    .bloglink {
        text-align: justify;
        font-family: "Open Sans", sans serif;
        font-size: 120%;
        color: white;
        text-decoration: underline;
        display: inline-flex;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: 0.3s;
    }

        .bloglink:hover {
            text-align: justify;
            font-family: "Open Sans", sans serif;
            font-size: 120%;
            color: #f25a02;
            text-decoration: underline;
            display: inline-flex;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: 0.3s;
        }

    .hr {
        width: 100%;
        height: 1px;
        border-width: 0;
        color: gray;
        background-color: gray;
    }

    .hr2 {
        width: 75%;
        height: 1px;
        border-width: 0;
        color: gray;
        background-color: gray;
    }

    .youtube {
        width: 640px;
        height: 390px;
    }

    .imgcenterdiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 12%;
        margin-right: 12%;
    }

    .imggallery {
        float: left;
        width: 48%;
        margin: 10px;
        transition: 0.3s;
    }

    .pagenumberbutton {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans serif;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
    }

        .pagenumberbutton:hover {
            text-decoration: none;
            color: #f25a02;
            font-family: "Open Sans", sans serif;
            font-weight: bold;
            transition: 0.3s;
        }

    .pagenumberleft {
        display: flex;
        margin-left: 13%;
        text-decoration: none;
        color: white;
        font-family: "Open Sans", sans serif;
        font-weight: bold;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pagenumberright {
        margin-left: 0%;
        margin-right: 13%;
        text-align: right;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navbarleft {
        display: flex;
        background-color: rgba(17,17,17,0.7);
        height: 58px;
        align-items: center;
        float: left;
        width: 37%;
        padding-left: 13%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .navbarright {
        display: flex;
        background-color: rgba(17,17,17,0.7);
        align-items: center;
        height: 58px;
        float: right;
        width: 37%;
        justify-content: flex-end;
        padding-right: 13%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .imgnavbar {
        height: 50px;
        padding: 4px 0px 4px 0px;
    }




    /*----------------------------scrollbar----------------------------------*/
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #333;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
        width: 8px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    ::selection {
        color: black;
        background: #f25a02;
    }
}
